<%
card_type ||= nil
classes = ["project-card",
          project.eliminated? ? 'project-card-eliminated' : '',
          card_type == :winner_large ? 'project-card-winner-large' : '',
          card_type == :winner ? 'project-card-winner' : ''
         ].join(' ')
%>
<div class='<%= classes %>'>
  <% link = @competition.open_donation && new_transaction_path(project_id: project.id) %>
  <%
    # TODO: do something else?
    def link_to_if_present(*args, &block)
      capture do
        if block_given?
          args.first ? link_to(*args, &block) : yield
        else
          args.second ? link_to(*args, &block) : args.first
        end
      end
    end
  %>

  <%= link_to_if_present link, title: project.name  do %>
    <div class='card-image' style='background-image: url(<%= project.card_image_url || "http://placehold.it/640x480"%>)'>
    </div>
  <% end %>

  <div class='card-content'>
    <div class='card-project-title'>
      <%= link_to_if_present project.name, link, title: project.name %>
    </div>
    <p class='card-description'><%= truncate(project.blurb, length: 140)%></p>
  </div>

  <div class='card-footer'>
    <span class='card-points'>
      <% if project.donation_count > 0 && project.respond_to?(:rank) && project.rank.present? %>
        <%= project.rank.ordinalize %> place
      <% end %>
    </span>
    <% if @competition.open_donation %>
      <%= link_to 'donate', link, class: 'card-learn-more' %>
    <% end %>
  </div>
</div>
