<!-- <section class='landing&#45;masthead'> -->
<!--   <div class='container'> -->
<!--     <div class='masthead&#45;content&#45;container'> -->
<!--       <div class='row'> -->
<!--         <div class='col&#45;md&#45;12'> -->
<!--           <div class='tagline animated fadeInUp'> -->
<!--             <p> -->
<!--             <span class="large">Choose your favorite ideas at<br/> -->
<!--               <strong>GiveBackHack Columbus 2016</strong>. -->
<!--             </span> -->
<!--             </p> -->
<!--           </div> -->
<!--  -->
<!--           <div class='scroll&#45;btn animated bounceIn'> -->
<!--             <a class='btn btn&#45;lg' href='#landing&#45;works'> -->
<!--               <%= icon('chevron&#45;down') %> -->
<!--             </a> -->
<!--           </div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </section> -->

<%= render 'pages/landing_sections/how_it_works' %>

<% if !@competition.projects.empty? %>
  <%= render 'pages/landing_sections/landing_movements' %>
<% end %>
<%# <%= render 'pages/landing_sections/landing_gbh' %>
<%# <%= render 'pages/landing_sections/landing_dates' %>
<%# <%= render 'pages/landing_sections/landing_join' %>
